
<div class="well">
      <div class="tab-content">
        
        <div class="tab-pane fade in active" id="tab1">
          <h3>ENTRY</h3>
           <%= render 'microposts/micropost' %>
        </div>
           
      </div>
</div>